@import "../lib/bulma.min.css";
@import "../lib/bootstrap-icons.css";
@import "../lib/animate.min.css";
@import "../lib/aos.min.css";
@import "../lib/loading.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.poppins {
    font-family:  'Poppins', 'Lucida Sans', 'Segoe UI', Tahoma, Helvetica, Verdana, sans-serif;
}

[x-cloak] { display: none !important; }

#heroHome {
    background-image: url('../img/bg-header-home.png');
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
}

#feedback1::-webkit-scrollbar {
    display: none;
}

#feedback2::-webkit-scrollbar {
    display: none;
}

#feedback3::-webkit-scrollbar {
    display: none;
}

#objective1::-webkit-scrollbar {
    display: none;
}

#objective2::-webkit-scrollbar {
    display: none;
}

#objective3::-webkit-scrollbar {
    display: none;
}

.goodButton {
    box-shadow: 0 4px 8px 0 rgba( 31, 38, 135, 0.37 ) !important;
}

.goodButton:hover {
    background: hsl(0, 0%, 29%) !important;
    box-shadow: 0 2px 4px 0 rgba(92, 92, 92, 0.37) !important;
    backdrop-filter: blur( 12px ) !important;
    -webkit-backdrop-filter: blur( 12px ) !important;
    border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}

.glassBox {
    background: hsl(0, 0%, 96%) !important;
    box-shadow: 0 8px 32px 0 rgba(92, 92, 92, 0.37) !important;
    backdrop-filter: blur( 9px ) !important;
    -webkit-backdrop-filter: blur( 9px ) !important;
    border-radius: 20px !important;
    border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}

.inputGlass {
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.37);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.objBox {
    background: rgba(255, 255, 255, 0.925) !important;
    box-shadow: 0 10px 10px 0 rgba(117, 117, 117, 0.37) !important;
    backdrop-filter: blur( 6.5px ) !important;
    -webkit-backdrop-filter: blur( 6.5px ) !important;
    border-radius: 10px !important;
    border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}

.objBox:hover {
    background: rgba(255, 255, 255, 0.925) !important;
    box-shadow: 0 3px 3px 0 rgba(117, 117, 117, 0.37) !important;
    backdrop-filter: blur( 6.5px ) !important;
    -webkit-backdrop-filter: blur( 6.5px ) !important;
    border-radius: 10px !important;
    border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}

.word-line {
    display: flex;
    flex-direction: row;
}
.word-line:before, .word-line:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
.word-line:before {
    margin-right: 10px
}
.word-line:after {
    margin-left: 10px
}

.glassButton {
    background: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 4px 8px 0 rgba(119, 119, 119, 0.37);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glassButton:hover {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 12px 0 rgba(119, 119, 119, 0.37);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.searchBox {
    background: rgba( 255, 255, 255, 0.85 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: rgb(0, 0, 0) !important;
}

.searchBtn:hover {
    background: rgba(255, 255, 255, 0.651);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

input.searchBox.poppins {
    width: 100% !important;
}

.activeBtn {
    background: #10496d !important;
    border: 1px solid #10496d !important;
}

.activeBtn:hover {
    background: #1d72aa !important;
    box-shadow: 0 5px 10px 0 black;
    border: 1px solid #1d72aa !important;
}

.notActive {
    border: 1px solid #1d72aa !important;
}

.notActive:hover {
    background: #10496d  !important;
    border: 1px solid #10496d !important;
}

.padMega {
    padding-right: 100px !important;
}

#dropCont1 {
    box-shadow: 0 5px 10px 0 black !important;
}

.seeMore {
    background-color: #1d72aa !important;
    color: hsl(0, 0%, 96%) !important;
}

.seeMore:hover {
    background-color: white !important;
    color: #1d72aa !important;
    border: 0px;
}

.shadowObjBox {
    box-shadow: 0 10px 10px 0 rgba(117, 117, 117, 0.37) !important;
}

.shadowObjBox:hover {
    box-shadow: 0 3px 3px 0 rgba(117, 117, 117, 0.37) !important;
}

.stayTop {
    overflow: hidden !important;
    position: fixed !important; /* Set the navbar to fixed position */
    top: 0 !important; /* Position the navbar at the top of the page */
}

.modal-content::-webkit-scrollbar {
    display: none;
}

.is-purple {
    background-color: blueviolet !important;
    color: white !important;
}

@media (min-width:769px) {
    .feature-card {
        height: 400px !important;
    }
}

@media (min-width:769px) {
    .achieve-card {
        height: 165px !important;
    }
}

@media (min-width:920px) {
    .achieve-card {
        height: 180px !important;
    }
}

@media (min-width:1024px) {
    .achieve-card {
        height: 195px !important;
    }
}

@media (min-width:769px) {
    .feedback-card {
        height: 300px !important;
    }
}

@media (min-width:818px) {
    .feedback-card {
        height: 280px !important;
    }
}

@media (min-width:1024px) {
    .feedback-card {
        height: 265px !important;
    }
}

@media (min-width:1024px) {
    .team-card {
        height: 160px !important;
    }
}

@media (min-width:769px) {
    .all-main-card {
        height: 185px !important;
    }
}

.login:hover {
    color: #1d72aa !important;
}

#heroTimeline {
    background-image: url('../svg/bg-header-timeline.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.noBgColor {
    background-color: transparent !important;
    border: 1px solid transparent !important;
}

@media (min-width:769px) {
    .category-card {
        height: 160px !important;
    }
}

@media (min-width:925px) {
    .category-card {
        height: 180px !important;
    }
}

@media (min-width:1024px) {
    .category-card {
        height: 210px !important;
    }
}

@media (min-width:1024px) {
    .standard-card {
        height: 320px !important;
    }
}

@media (min-width:1216px) {
    .standard-card {
        height: 310px !important;
    }
}

@media (min-width:1024px) {
    .standard-card2 {
        height: 345px !important;
    }
}

@media (min-width:1216px) {
    .standard-card2 {
        height: 335px !important;
    }
}

@media (min-width:769px) {
    .benefit-card {
        height: 210px !important;
    }
}

@media (min-width:925px) {
    .benefit-card {
        height: 240px !important;
    }
}

@media (min-width:1024px) {
    .benefit-card {
        height: 270px !important;
    }
}

.active-setting {
    background-color: #209cee;
    color: #f5f5f5;
    display: block; 
    border: 0px;
    border-radius: 0%;
}

.active-setting:hover {
    background-color: #1d72aa;
    color: #f5f5f5;
    display: block; 
    border: 0px;
    border-radius: 0%;
}

.notactive-setting {
    display: block; 
    border: 0px;
    border-radius: 0%;
}

.notactive-setting:hover {
    background-color: #209cee;
    color: #f5f5f5;
    display: block; 
    border: 0px;
    border-radius: 0%;
}

@media (min-width:769px) {
    .standard-card-setting {
        height: 370px !important;
    }
}

@media (min-width:1216px) {
    .standard-card-setting {
        height: 375px !important;
    }
}

.progressbar {
    height: 5px !important;
    margin-bottom: 0px !important;
}

@media (min-width:769px) {
    .standard-card-setting1 {
        height: 310px !important;
    }
}

@media (min-width:1216px) {
    .standard-card-setting1 {
        height: 315px !important;
    }
}

@media (min-width:769px) {
    .standard-card-setting2 {
        height: 370px !important;
    }
}

@media (min-width:1024px) {
    .standard-card-setting2 {
        height: 360px !important;
    }
}

@media (min-width:1216px) {
    .standard-card-setting2 {
        height: 350px !important;
    }
}
